<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Откроем-таблицу-и-изучим-общую-информацию-о-данных." data-toc-modified-id="Откроем-таблицу-и-изучим-общую-информацию-о-данных.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Откроем таблицу и изучим общую информацию о данных.</a></span><ul class="toc-item"><li><span><a href="#Импортируем-библиотеку-pandas.-Считаем-данные-из-csv-файла-в-датафрейм-и-сохраним-в-переменную-data." data-toc-modified-id="Импортируем-библиотеку-pandas.-Считаем-данные-из-csv-файла-в-датафрейм-и-сохраним-в-переменную-data.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную <code>data</code>.</a></span></li><li><span><a href="#Выведем-первые-20-строчек-датафрейма-data-." data-toc-modified-id="Выведем-первые-20-строчек-датафрейма-data-.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Выведем первые 20 строчек датафрейма <code>data</code> .</a></span></li><li><span><a href="#Выведем-основную-информацию-о-датафрейме-с-помощью-метода-info()." data-toc-modified-id="Выведем-основную-информацию-о-датафрейме-с-помощью-метода-info().-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Выведем основную информацию о датафрейме с помощью метода <code>info()</code>.</a></span></li></ul></li><li><span><a href="#Предобработка-данных." data-toc-modified-id="Предобработка-данных.-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных.</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков." data-toc-modified-id="Удаление-пропусков.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков.</a></span></li><li><span><a href="#Обработка-аномальных-значений." data-toc-modified-id="Обработка-аномальных-значений.-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений.</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li></ul></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Исследовательский-анализ-данных." data-toc-modified-id="Исследовательский-анализ-данных.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Исследовательский анализ данных.</a></span><ul class="toc-item"><li><span><a href="#Проанализируем-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок." data-toc-modified-id="Проанализируем-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок.-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Проанализируем зависимость между количеством детей и возвратом кредита в срок.</a></span></li><li><span><a href="#Проанализируем-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок." data-toc-modified-id="Проанализируем-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок.-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Проанализируем зависимость между семейным положением и возвратом кредита в срок.</a></span></li><li><span><a href="#Проанализируем-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок." data-toc-modified-id="Проанализируем-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок.-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Проанализируем зависимость между уровнем дохода и возвратом кредита в срок.</a></span></li><li><span><a href="#Проанализируем-как-разные-цели-кредита-влияют-на-его-возврат-в-срок" data-toc-modified-id="Проанализируем-как-разные-цели-кредита-влияют-на-его-возврат-в-срок-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Проанализируем как разные цели кредита влияют на его возврат в срок</a></span></li></ul></li><li><span><a href="#Общий-вывод." data-toc-modified-id="Общий-вывод.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Общий вывод.</a></span></li></ul></div>

# Исследование надежности заемщиков - анализ банковских данных.

Заказчик — кредитный отдел банка. 
Цель исследовния:
Проанализировать влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. 

Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.


Описание данных:

- *children* — количество детей в семье
- *days_employed* — общий трудовой стаж в днях
- *dob_years* — возраст клиента в годах
- *education* — уровень образования клиента
- *education_id* — идентификатор уровня образования
- *family_status* — семейное положение
- *family_status_id* — идентификатор семейного положения
- *gender* — пол клиента
- *income_type* — тип занятости
- *debt* — имел ли задолженность по возврату кредитов
- *total_income* — ежемесячный доход
- *purpose* — цель получения кредита

## Откроем таблицу и изучим общую информацию о данных.

### Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную `data`.

In [56]:
import pandas as pd

In [57]:
data = pd.read_csv("data.csv")

### Выведем первые 20 строчек датафрейма `data` .

In [58]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

### Выведем основную информацию о датафрейме с помощью метода `info()`.

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных.

### Удаление пропусков.

Выведем количество пропущенных значений для каждого столбца.

In [60]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце мы обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполним пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [61]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений.

В данных встречаются артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [62]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.

In [63]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получаются аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится нам для исследования.

Выведем перечень уникальных значений столбца `children`

In [64]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [65]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [66]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [67]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены. Выведем количество пропущенных значений для каждого столбца с помощью двух методов.

In [68]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

###  Изменение типов данных
Заменим вещественный тип данных в столбце `total_income` на целочисленный.

In [69]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов
Выведем на экран количество строк-дубликатов в данных.

In [70]:
data.duplicated().sum()

54

Удалим дубликаты

In [71]:
data = data.drop_duplicates()

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру. Проверим остальные столбцы.

In [72]:
data['education'] = data['education'].str.lower()

## Категоризация данных
На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [73]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [74]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [75]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [76]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [77]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследовательский анализ данных.

### Проанализируем зависимость между количеством детей и возвратом кредита в срок.

In [78]:
data_pivot = data.pivot_table(index=['children'], values='debt', aggfunc=['count', 'sum', 'mean'])
data_pivot.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']

ratio_more_one = data_pivot['Всего должников'][2:].sum()/data_pivot['Всего кредитополучателей'][2:].sum()

print('Доля клиентов, имеющих долг с одним ребенком: {:.2%}'.format(data_pivot['Доля должников'][1]))
print('Доля клиентов, имеющих долг с двумя и более детьми: {:.2%}'.format(ratio_more_one))
print('Доля клиентов, имеющих долг без детей: {:.2%}'.format(data_pivot['Доля должников'][0]))

data_pivot

Доля клиентов, имеющих долг с одним ребенком: 9.23%
Доля клиентов, имеющих долг с двумя и более детьми: 9.25%
Доля клиентов, имеющих долг без детей: 7.54%

          Всего кредитополучателей  Всего должников  Доля должников
children
0                            14107             1063        0.075353
1                             4809              444        0.092327
2                             2052              194        0.094542
3                              330               27        0.081818
4                               41                4        0.097561
5                                9                0        0.000000

Основываясь на полученные значения, можно сделать вывод, что клиенты, имеющие детей не возвращают долг чаще. Количество детей не оказывает значительного влияния на возврат долга в срок.

### Проанализируем зависимость между семейным положением и возвратом кредита в срок.

In [79]:
data_family = data.pivot_table(index=['family_status'], values='debt', aggfunc=['count', 'sum', 'mean'])
data_family.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']

#  соотношения возвращаемых кредитов статус "холост"
ratio_free = data_family['Всего должников'][:3].sum() / data_family['Всего кредитополучателей'][:3].sum()
# соотношения возвращаемых кредитов у клиентов "в оношениях"
ratio_no_free = data_family['Всего должников'][3:].sum() / data_family['Всего кредитополучателей'][3:].sum()

print('Доля клиентов не возвращающих долг при семейном статусе "В отношениях": {:.2%}'.format(ratio_no_free))
print('Доля клиентов не возвращающих долг при семейном статусе "Холост": {:.2%}'.format(ratio_free))
data_family

Доля клиентов не возвращающих долг при семейном статусе "В отношениях": 7.99%
Доля клиентов не возвращающих долг при семейном статусе "Холост": 8.51%

,Всего кредитополучателей,Всего должников,Доля должников
family_status,,,
Не женат / не замужем,2796,273,0.097639
в разводе,1189,84,0.070648
вдовец / вдова,951,63,0.066246
гражданский брак,4146,385,0.092861
женат / замужем,12266,927,0.075575

На основании данных можно сделать вывод, что чаще всего возвращают долг клиенты с семейным статусом 'вдова/вдовец'. Если оценить соотношения одиноких и клиентов имеющих отношения, то чаще не возвращают долг холостые клиенты.

### Проанализируем зависимость между уровнем дохода и возвратом кредита в срок.

Созданная нами ранее категоризация по уровню дохода не совсем подходит для анализа гипотезы о взаимосвязи уровня дохода и возврата кредита. Объемы в разных категориях были слишком не равнозначны.
Создадим новый столбец с обозачением уровня дохода по категориям.

In [80]:
def categorize_income_total(total_income):
    try:
        if 0 <= total_income <= 100000:
            return 'Доход до 100000 руб.'
        elif 100001 <= total_income <= 150000:
            return 'Доход от 100000 до 150000'
        elif 150001 <= total_income <= 200000:
             return 'Доход от 150001 до 200000'
        elif total_income >= 200001:
            return 'Доход свыше 200001'
    except:
        pass

data['total_category'] = data['total_income'].apply(categorize_income_total)


data_income = data.pivot_table(index=['total_category'], values='debt', aggfunc=['count', 'sum', 'mean'])
data_income.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']

data_income

,Всего кредитополучателей,Всего должников,Доля должников
total_category,,,
Доход до 100000 руб.,4444,354,0.079658
Доход от 100000 до 150000,7125,619,0.086877
Доход от 150001 до 200000,4740,403,0.085021
Доход свыше 200001,5039,356,0.070649

На основании анализа можно сделать вывод, что клиенты с уровнем дохода более 200000 рублей возвращают кредит в срок чаще.Вероятно, финансовые проблемы не позволяют вовремя осуществлять платежи

### Проанализируем как разные цели кредита влияют на его возврат в срок

In [81]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_purpose = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean'])
data_purpose.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']

data_purpose

,Всего кредитополучателей,Всего должников,Доля должников
purpose_category,,,
операции с автомобилем,4281,400,0.093436
операции с недвижимостью,10754,780,0.072531
получение образования,3989,369,0.092504
проведение свадьбы,2324,183,0.078744

Доля возвращенных долгов в срок больше всего  у кредитов на операции с недвижимостью, так же не плохой результат у кредитом на проведение свадьбы. А так же, клиенты, которые берут кредит на автомобиль и на образование, чаще становятся должниками.

Возможные причины появления пропусков в исходных данных.

Пропуски Nan есть в столбцах days_employed и total_income в одинаковых строках, скорее всего клиент банка оставил их пустыми при заполнении анкеты, так как не имеет официалного трудоустройства и стажа.

Заполнить пропуски медианным значением — лучшее решение для количественных переменных.

 Медианные значения более объективная информация. Среднее значение некорректно характеризует данные, когда некоторые значения сильно выделяются среди большинства.

## Общий вывод.
В результате исследования мы проверили 4 гипотезы:
1. Влияет ли количество детей на возврат кредита в срок.
Первая гипотеза подтвердилась. Клиенты без детей возвращают кредит в срок чаще.
2. Есть ли зависимость между семейным положением и возвратом кредита в срок.
Холостые клиенты не возвращают в срок кредит чаще.
3. Влияет ли цель кредита на возврат кредита в срок.
Клиенты чаще погашают долги в срок по кредитам с целями на операции с недвижимостью и проведением свадьбы
4.  Влияет ли уровень дохода на возврат кредита.
На основании анализа, можно сделать вывод, что клиенты с высоким уровнем дохода чаще возвращают кредит в срок, что логично , так как данная категория людей имеют большие материальные возможности. Считаю, что для более тщательной оценки зависимости уровня дохода на погашение кредита в срок, необходимо оценить суммы взятых данными клиентами кредитов.