# Создание дашборда по пользовательским событиям для агрегатора новостей.

Используя данные Яндека.Дзен необходимо построить дашборд с метриками взаимодействия пользователей с карточками статей на основании технического задания.

**Техническое задание**

- Бизнес-задача: анализ взаимодействия пользователей с карточками Яндекс.Дзен;
- Насколько часто предполагается пользоваться дашбордом: не реже, чем раз в неделю;
- Кто будет основным пользователем дашборда: менеджеры по анализу контента;

*Состав данных для дашборда:*

1. История событий по темам карточек;
2. Разбивка событий по темам источников;
3. Таблица соответствия тем источников темам карточек;

*Параметры по которым данные должны группироваться:*
 
- Дата и время;
- Тема карточки;
- Тема источника;
- Возрастная группа;

Источники данных для дашборда: таблица dash_visits. Структура:


- *record_id — первичный ключ,
- *item_topic* — тема карточки,
- *source_topic* — тема источника,
- *age_segment* — возрастной сегмент,
- *dt* — дата и время,
- *visits* — количество событий.

### Импортируем библиотеки.

In [ ]:
!pip install psycopg2

In [ ]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

### Подключимся к базе данных и выгрузим таблицу для создания дашборда.

In [2]:
db_config = {'user': '-censored-', # имя пользователя
            'pwd': '-censored-', # пароль
            'host': '-censored-',
            'port': 0000, # порт подключения
            'db': '-censored-'} # название базы данных

connection_string = '-censored-'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])
# запрашиваем сырые данные
engine = create_engine(connection_string)

# получаем сырые данные
query = '''
            SELECT * FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits.to_csv('dash_visits.csv', index=False)
dash_visits.head(20)

    record_id item_topic source_topic age_segment                  dt  visits
0     1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1     1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2     1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3     1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4     1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27
5     1040602     Деньги         Авто       18-25 2019-09-24 18:57:00      22
6     1040603     Деньги         Авто       18-25 2019-09-24 18:58:00      24
7     1040604     Деньги         Авто       18-25 2019-09-24 18:59:00      20
8     1040605     Деньги         Авто       18-25 2019-09-24 19:00:00       5
9     1040606     Деньги         Авто       26-30 2019-09-24 18:29:00       1
10    1040607     Деньги         Авто       26-30 2019-09-24 18:30:00       1
11    1040608     Деньги         Авто       26-30 2019-09-24 18:31:00       1
12    1040609     Деньги         Авто       26-30 2019-09-24 18:32:00       1
13    1040610     Деньги         Авто       26-30 2019-09-24 18:54:00       4
14    1040611     Деньги         Авто       26-30 2019-09-24 18:55:00      13
15    1040612     Деньги         Авто       26-30 2019-09-24 18:56:00      18
16    1040613     Деньги         Авто       26-30 2019-09-24 18:57:00      15
17    1040614     Деньги         Авто       26-30 2019-09-24 18:58:00      13
18    1040615     Деньги         Авто       26-30 2019-09-24 18:59:00      13
19    1040616     Деньги         Авто       26-30 2019-09-24 19:00:00       5

### Дашборд

Дашборд: <https://public.tableau.com/app/profile/anna6845/viz/Yandex_Dzen_16651489102610/_?publish=yes>

### Презентация

Презентация : <https://disk.yandex.ru/i/s5slC8zZ8h8CGw>